* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input{
    outline: none;
}
.main{
    width: 100%;
    height: 100vh;
    background: url('./img/bg.jpg');
    background-size: cover;
}

@keyframes tiltAnimation {
    0% { transform: rotate(-10deg); }
    50% { transform: rotate(10deg); }
    100% { transform: rotate(-10deg); }
}

.main-content {
  position: relative;
  background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  color: white;
  height: calc(100vh - 64px); /* full height minus header */
  overflow: hidden;
}

.codezilla-title {
  font-size: 6rem;
  font-family: 'CodezillaFont', sans-serif;
  color: white;
  margin-bottom: 1rem;
}

.codezilla-paragraph {
  font-size: 1.25rem;
  color: white;
  max-width: 550px;
}

